*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* write all your rules below */

h1{
    border: 10px solid red;
    height:10vh;
    width:50vw;
    background-color: pink;
    margin-left:15vw;
    margin-top: 8vh;
    margin-right: 8vw;
    margin-bottom: 8vh;
}

.main_style1{
    background-color: aqua;
    width: 100vw;
    height: 30vh;
    padding-top:20vh;
    padding-bottom:20vh;
    padding-right:75vw;
    padding-left: 15vw;
    margin-bottom:5vh;
}

#main_style2{
    background-color: yellow;
    border:15px solid pink;
    width:40vw;
    height:15vh;
    padding-right: 25vw;
    padding-bottom: 15vh;
    margin-left: 5vw;
    margin-bottom: 25vh;
}


#footer1{
    color:blue;
}

#footer2{
    color:green;
}

.footer34{
    color:purple;
}

.font-size{
    font-size:1rem;
}

#h1_size{
    font-size:1.2rem;
}